body {
	margin: 0;
	padding: 0;
	font-family: 'Inconsolata';
	background: #1a1a1a;
	color: #fff;
}

nav {
	z-index: 99;
	position: relative;
}

header h1,
	.projects h1 {
	font-size: 2.5em;
}

h1,
p,
a,
small {
	color: #fff;
}

.line {
	color: red;
	font-size: 25px;
}

a {
	transition: 0.4s;
}

.slashed-line {
	color: red;
}

a:hover {
	color: #ccc;
	text-decoration: none;
}

p {
	font-size: 0.9em;
	color: #ccc;
}

nav a,
footer a {
	text-decoration: none;
}

nav .container {
	max-width: 1150px;
	padding: 1em 2em;
	margin: 0 auto;
}

nav .container > div {
	display: grid;
	grid-template-columns: 1fr 0fr;
	align-items: center;
}
nav .menu
nav .social-media,
nav .brand {
	display: flex;
	align-items: center;
	margin: 0 auto;
}
/* Classed all menu navigations in order to be sellected separately from the social-media icons */
nav .menu .nav-preps {
	font-size: 20px;
	justify-content: center;
	align-items: center;

}
nav ul,
footer ul {
	list-style-type: none;
	padding: 0;
	display: flex; /*it was inlkine-block here */
}

nav ul li,
footer ul li {
	display: flex;
	margin: 0 0.5em;
}
nav ul a,
footer ul a {
	font-size: 0.8em;
	text-transform: uppercase;
}

.logo {
	width: 12em;
	display: grid;
	position:absolute;
	padding-top: 5px;

}

/* .menu ul {
	padding-left: 15%;
} */

.nav-btn {
	background: rgba(255, 255, 255, 0.3);
	color: #fff;
	width: 2.8em;
	height: 2.8em;
	border-radius: 50%;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	font-size: 1em;
}

.nav-btn:hover {
	background: rgba(255, 255, 255, 0.6);
}

.menu-btn {
	display: none;
}

.social-media a {
	font-size: 1em;

}

header {
	height: 100vh;
	background: radial-gradient(#333, #1a1a1a);
}

header .content,
.projects,
.overlay,
.footer-top {
	display: flex;
	justify-content: center;
	align-items: center;
}

header .content {
	color: #fff;
	padding: 0 3em;
	box-sizing: border-box;
	height: 90%;
	max-width: 700px;
	margin: 0 auto;
}

.projects {
	position: relative;
	filter: saturate(0%);
}

.projects img {
	width: 25%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(0deg, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.8) 100%);
	width: 100%;
	height: 100%;
	z-index: 0;
	text-align: center;
}

.row {
	display: grid;
	justify-items: start;
	align-items: center;
	grid-template-columns: 1fr 2fr;
	grid-gap: 2em;
	padding: 3em 2em;
}

.row p {
	font-size: 0.8em;
	max-width: 33em;
}

.row img {
	width: 22em;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

footer {
	background: #161618;
}

.footer-top {
	padding: 4em 2em;
}

.footer-top .logo {
	width: 5em;
}

.footer-bottom {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 3em 2em;
}

footer ul li:nth-child(1) {
	margin-left: 0;
}

@media screen and (max-width: 1000px) {
	nav .container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	nav .container > div {
		grid-template-columns: 1fr;
	}
	nav .menu {
		flex-direction: column;
		align-items: flex-start;
		height: 0;
		overflow: hidden;
		transition: 0.7s;
	}
	nav.ul:nth-child(1) li {
		display: block;
		margin: 0.5em 0;
	}
	nav ul:nth-child(1) li:nth-child(1) {
		margin-top: 1.5em;
	}
	nav ul:nth-child(2) li:nth-child(1) {
		margin-left: 0;
	}
	nav .container .menu-btn {
		display: inline-block;
		font-size: 1.4em;
		cursor: pointer;
	}
	nav .container .nav-toggle {
		height: 16em;
	}
}

@media screen and (max-height: 400px) {
	header {
		height: 40em;
	}
}

@media screen and (min-width: 1000px) {
	header .content {
		margin: 0 0 0 6em;
		font-size: 18px;
	}
	.projects .overlay h1 {
		font-size: 3em;
	}
	.row img {
		width: 30em;
	}
	.posts {
		font-size: 18px;
	}
}

@media screen and (max-width: 680px) {
	.row {
		grid-template-columns: 1fr;
		justify-items: center;
	}
	.footer-bottom {
		flex-direction: column;
		text-align: center;
	}
	.row img {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	header,
	.projects {
		font-size: 14px;
	}
}

#particles-js {
	position: fixed;
	width: 100%;
}
